/**
 * Flex Start - A simple flexbox framework
 * Author: Israel Diaz de Leon N
 * License: MIT
 */

 /*
    Display flex modifiers.
 */
.flex{
    display: flex;
}
.flex.inline{
    display: inline-flex;
}

/*
    Flex wrap modifiers.
*/
.flex.wrap{
    flex-wrap: wrap;
}
.flex.wrap-reverse{
    flex-wrap: wrap-reverse;
}

/*
    Flex direction & column modifiers.
*/
.flex.reverse{
    flex-direction: row-reverse;
}
.flex.column{
    flex-direction: column;
}
.flex.column.reverse{
    flex-direction: column-reverse;
}

/*
    Content alignment across the main axis (flex-direction).
*/
.flex.items-center{
    align-items: center;
}
.flex.items-start{
    align-items: flex-start;
}
.flex.items-end{
    align-items: flex-end;
}
.flex.items-stretch{
    align-items: stretch;
}

/*
    Content alignment along the main axis (flex-direction).
*/
.flex.justify-center{
    justify-content: center;
}
.flex.justify-start{
    justify-content: flex-start;
}
.flex.justify-end{
    justify-content: flex-end;
}
.flex.justify-between{
    justify-content: space-between;
}
.flex.justify-around{
    justify-content: space-around;
}
.flex.justify-evenly{
    justify-content: space-evenly;
}
.flex.justify-stretch{
    justify-content: stretch;
}

/*
    Multi-line cross axis alignment (requires flex-wrap).
*/
.flex.content-center{
    align-content: center;
}
.flex.content-start{
    align-content: flex-start;
}
.flex.content-end{
    align-content: flex-end;
}
.flex.content-between{
    align-content: space-between;
}
.flex.content-around{
    align-content: space-around;
}
.flex.content-evenly{
    align-content: space-evenly;
}
.flex.content-stretch{
    align-content: stretch;
}

/*
    Self alignment property.
*/
.self-center{
    align-self: center;
}
.self-end{
    align-self: flex-end;
}
.self-start{
    align-self: flex-start;
}
.self-stretch{
    align-self: stretch;
}

/*
    Flex grow values allowed from 0-6.
*/
.grow-6{
    flex-grow: 6;
}
.grow-5{
    flex-grow: 5;
}
.grow-4{
    flex-grow: 4;
}
.grow-3{
    flex-grow: 3;
}
.grow-2{
    flex-grow: 2;
}
.grow-1{
    flex-grow: 1;
}
.grow-0{
    flex-grow: 0;
}

/*
    Flex shrink values allowed from 0-6.
*/
.shrink-6{
    flex-shrink: 6;
}
.shrink-5{
    flex-shrink: 5;
}
.shrink-4{
    flex-shrink: 4;
}
.shrink-3{
    flex-shrink: 3;
}
.shrink-2{
    flex-shrink: 2;
}
.shrink-1{
    flex-shrink: 1;
}
.shrink-0{
    flex-shrink: 0;
}

/* COLUMN SYSTEM */
.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap; }

.grid > .col, .grid > *[class*='col-'] {
  padding: 1.1%; }

.grid > .col {
  flex: 1; }

.grid > *[class*='col-'],
.grid > *[class*='sm-'],
.grid > *[class*='md-'],
.grid > *[class*='lg-'] {
  flex: none;
  flex-wrap: wrap;
  width: 100%; }

.grid > .col-1 {
  width: calc(100%/12); }

.grid > .col-2 {
  width: calc(calc(100%/12) * 2); }

.grid > .col-3 {
  width: 25%; }

.grid > .col-4 {
  width: calc(calc(100%/12) * 4); }

.grid > .col-5 {
  width: calc(calc(100%/12) * 5); }

.grid > .col-6 {
  width: 50%; }

.grid > .col-7 {
  width: calc(calc(100%/12) * 7); }

.grid > .col-8 {
  width: calc(calc(100%/12) * 8); }

.grid > .col-9 {
  width: 75%; }

.grid > .col-10 {
  width: calc(calc(100%/12) * 10); }

.grid > .col-11 {
  width: calc(calc(100%/12) * 11); }

.grid > .col-12 {
  width: 100%; }

/* large screens */
@media (min-width: 1200px) {
  .grid > .lg-1 {
    width: calc(100%/12); }
  .grid > .lg-2 {
    width: calc(calc(100%/12) * 2); }
  .grid > .lg-3 {
    width: 25%; }
  .grid > .lg-4 {
    width: calc(calc(100%/12) * 4); }
  .grid > .lg-5 {
    width: calc(calc(100%/12) * 5); }
  .grid > .lg-6 {
    width: 50%; }
  .grid > .lg-7 {
    width: calc(calc(100%/12) * 7); }
  .grid > .lg-8 {
    width: calc(calc(100%/12) * 8); }
  .grid > .lg-9 {
    width: 75%; }
  .grid > .lg-10 {
    width: calc(calc(100%/12) * 10); }
  .grid > .lg-11 {
    width: calc(calc(100%/12) * 11); }
  .grid > .lg-12 {
    width: 100%; } }

/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .grid > .md-1 {
    width: calc(100%/12); }
  .grid > .md-2 {
    width: calc(calc(100%/12) * 2); }
  .grid > .md-3 {
    width: 25%; }
  .grid > .md-4 {
    width: calc(calc(100%/12) * 4); }
  .grid > .md-5 {
    width: calc(calc(100%/12) * 5); }
  .grid > .md-6 {
    width: 50%; }
  .grid > .md-7 {
    width: calc(calc(100%/12) * 7); }
  .grid > .md-8 {
    width: calc(calc(100%/12) * 8); }
  .grid > .md-9 {
    width: 75%; }
  .grid > .md-10 {
    width: calc(calc(100%/12) * 10); }
  .grid > .md-11 {
    width: calc(calc(100%/12) * 11); }
  .grid > .md-12 {
    width: 100%; } }

/* mobile */
@media (max-width: 767px) {
  .grid > *:not([class*="sm-"]) {
    flex: none;
    width: 100%; }
  .grid > .sm-1 {
    width: calc(100%/12); }
  .grid > .sm-2 {
    width: calc(calc(100%/12) * 2); }
  .grid > .sm-3 {
    width: 25%; }
  .grid > .sm-4 {
    width: calc(calc(100%/12) * 4); }
  .grid > .sm-5 {
    width: calc(calc(100%/12) * 5); }
  .grid > .sm-6 {
    width: 50%; }
  .grid > .sm-7 {
    width: calc(calc(100%/12) * 7); }
  .grid > .sm-8 {
    width: calc(calc(100%/12) * 8); }
  .grid > .sm-9 {
    width: 75%; }
  .grid > .sm-10 {
    width: calc(calc(100%/12) * 10); }
  .grid > .sm-11 {
    width: calc(calc(100%/12) * 11); }
  .grid > .sm-12 {
    width: 100%; } }